[sound_system]

music={
"type": "solo"
}
effects={
"default": true,
"simultaneous_sounds": 3,
"type": "simultaneous"
}
voice={
"type": "sequential"
}

#[keyboard]

#1=["switch", "s_trough_ball_1", "active"]
#2=["switch", "s_trough_ball_2", "active"]
#3=["switch", "s_trough_ball_3", "active"]
#4=["switch", "s_trough_ball_4"]
#5=["switch", "s_trough_ball_5"]
#6=["switch", "s_trough_ball_6"]
#enter=["switch", "s_start"]
#a=["event", "s_left_flipper_active"]
#d=["event", "s_right_flipper_active"]
#b=["event", "s_ab_active"]
#m=["event", "s_mead_active"]
#s=["event", "s_scanlan_active"]
#p=["event", "s_percy_active"]

#[logging]

#global=10

#[mpf]

#executable_path="C:/Users/mpf/AppData/Local/Programs/Python/Python313/Scripts/mpf"
#virtual=false
#spawn_mpf=true
#verbose=true

#[gmc]

#fullscreen=true
#exit_on_esc=true
#logging_global=10
#logging_bcp=0
#logging_game=1
#logging_media=1
#logging_process=1
#logging_sound_player=0
#logging_server=1
